@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wrapper{
    width: 320px;
    height: 369px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}
.forheader{
    width: 100%;
    height: 74px;
}
.header{
    width: 279.13px;
    height: 24px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #1F2041;
    /* margin-top: 20px; */
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.header:after {
    content:url(./arrow_forward.png);
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.header:before {
    content:url(./arrow_back.png);
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.fortable{
    width: 100%;
    height: 260px;
}
.table{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    
    color: #BC9CFF;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.row{
    width: 39.88px;
    height: 30px;
    text-align: center;
    padding-top: 10px
}

.forfooter{
    width: 100%;
    height: 35px;
}
.footer{
    width: 280px;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    display: flex;
    justify-content: space-between;
}
.clean{
    width: 75px;
    height: 15px;
}
.use{
    width: 84px;
    height: 15px;
}
/*Активные классы*/
.previous_month{
    color: rgba(31, 32, 65, 0.25);
}
.active_date{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    color: #FFFFFF;
}
.interval_date_point{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #FFFFFF;
}
