.wrapper{
    display: flex;
    width: 200px;
    height: 100x;
    margin: 100px;
}
.workspace{
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    margin-right: 20px;
    width: 60px;
    height: 30px;
}
.workspace input{
    display: none;
}
.workspace label{
    display: block;
    cursor: pointer;
}
.workspace label::before{
    content: '\f004';
    font-family: fontAwesome;
    position: relative;
    font-size: 30px;
    color:rgba(31, 32, 65, 0.25);;
    display: block;
    margin-left: 5px;
}
.workspace label::after{
    content: '\f004';
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 30px;
    color: #BC9CFF;
    display: block;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.workspace label:hover::after{
    opacity: 1;
}
/* .workspace input:checked ~ label::after{
    opacity: 1;
} */
/* .active{

} */
/* input:checked ~ #heart1::last-of-type{
    opacity: 1;
} */
input:checkedlabel::after{
    opacity: 1;
}