@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wrapper{
    width: 320px;
    height: 223px;
    margin-left: 30px;
    margin-right: 30px;
}
.district{
    width: 320px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Montserrat;
}
.guests{
    height: 64px;    
}
.workplate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textboard{
    height: 15px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.signboard{
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
.input_content{
    width: 103px;
    height: 24px;
    margin-top: 11.56px;
    margin-bottom: 8.44px;
    margin-left: 15px;
    border: none;
}
.modified{
    width: 270px;/*От балды размер*/
}
.signboard::after{
    content:url(./expand_more.png);
}
.dropdown{
    width: 320px;
    height: 159px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: none;
}
.string{
    width: 298px;
    height: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-top: 15px;
}
.confirm{
    color: #BC9CFF;
}
.plus{
    width: 30px;
    height: 30px;
    color: green;
}
.show{
    display: flex;
}      