@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.outerWrapper{
    width: 380px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    /* padding: 1px; */
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
}
.district{
    
    width: 100%;
    height: 50px;
}
input{
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
.fortitle{
    height: 90px;
}
.title{
    width: 320px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.subtitle_huge_number{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1f2041;
}
.title{
    display: flex;
    justify-content: space-between;
}

.forarrivedeparture{
    height: 84.44px;
    display: flex;
    
}
.forarrived{
    width: 50%;
    height: 100%;
}
.arrived{
    width: 150px;
    height: 44px;    
}
.first{
    width: 106px;
    /* padding: 1px; */
    height: 24px;
}
.workfield{
    /* margin-right: 30px; */
    width: 150px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    cursor: pointer;    
}
.underworkfield::after{
    content:url(./expand_more.png);
    display: inline; 
}
.fordeparture{
    width: 50%;
    height: 100%;    
}
.departure{
    width: 150px;
    height: 44px;
}
.second{
    width: 106px;
    /* padding: 1px; */
    height: 24px;
}
.workarea{
    /* margin-right: 30px; */
    width: 150px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    cursor: pointer;
}
.underworkarea::after{
    content:url(./expand_more.png);
    display: inline; 
}

.signbord{
    height: 15px;
}
.fornumberguests{
    height: 84.56px;
}
.numberguests{
    margin-left: 30px;
    margin-right: 30px;
}
.underworkspace::after{
    content:url(./expand_more.png);
    display: inline; 
}
.workspace{
    width: 318px;
    height: 42px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    cursor: pointer;
    
}
input{
    border: none;
}
.third{
    width: 275.74px;
    height: 24px;
}
/* .moloko{
    margin-top: 8px;
    margin-bottom: 12px;    

}     */
    



.signbord{
    margin-bottom: 5.44px;
    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}



.forcalculation{
    height: 134px;
}
.calculation{
     display: flex;
     flex-direction: column;
     list-style-type: none; 
     margin-bottom: 30px;
     
     

}
.calculation li{
    padding: 0;
    margin-right: 30px;
    line-height: 24px;
}
.calculation li {
 align-items: baseline; 
 display: flex; 
 
}
.calculation li::before {
    content: ''; 
    
    flex-grow: 1; 
    order: 2; 
    margin: 0 5px; 
   }
   .calculation .area {
    order: 3; 
   } 
.subitem{
    width: 189px;
    height: 41px;
    
    
}
.two, .four, .six{
    width: 164px;
    text-align: right;
}
.one, .three, .five{
    width: 214px;
}



.fortotal{
    height: 44px;
}
.total{
    height: 54px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
    margin-left: 31px;
    margin-right: 30px;
}
.total{
    display: flex;
    height: 18px;
    margin-left: 31px;
    margin-right: 30px;
}   
.total::before {
    content: ''; /* Выводим линию */
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);/* Параметры линии */
    flex-grow: 1; /* Линия занимает всё доступное пространство */
    order: 2; /* Выводим вторым */
    margin: 0 5px; /* Расстояние от текста */
   }
   .total .value {
    order: 3; /* Выводим третьим */
   }


.forbutton{
    height: 74px; 
}   
.button {
    /* margin: 0; */
    /* display: inline-block; */
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    /* background-position: center; */
    text-align: center;
    /* vertical-align: middle; */
    min-height: 14px;
    min-width: 99px;
    line-height: 14px;
    border-radius: 22px;
    border: none;
    color: white;
    text-decoration: none;
    /* padding: 15px; */
    text-transform: uppercase;
    width: 320px;
    height: 44px;
    position: relative;
    /* margin-top: 50px;
    margin-bottom: 30px; */
    margin-left: 30px;
    margin-right: 30px;
}
.button:after {
    content:url(./arrow_forward.png);
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.button:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
  

