@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
.wrapper{
    width: 380px;
    height: 511px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.district{
    width: 320px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
.title{
    height: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 24px;
}
.subtitle_huge_number{
    font-family: Quicksand;
    font-size: 14px;
    color: #1F2041;
    width: 64px;
    height: 30px;
}
.subtitle_type_appartment{
    font-size: 12px;
    font-size: 12px;
    color: #BC9CFF;
}
.subtitle_cost_appartment{
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 110px;
}
.dates{
    height: 85px;
    display: flex;
    justify-content: space-between;    
}
.arriving{
    width: 150px;
    height: 64.44px;    
}
.departure{
    width: 150px;
    height: 64.44px;          
}
.guests{
    height: 95px;    
}
.button{
    height: 74px;    
}
.workplate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textboard{
    height: 15px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.signboard{
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.input_content{
    width: 103px;
    height: 24px;
    margin-top: 11.56px;
    margin-bottom: 8.44px;
    margin-left: 15px;
    /* margin-right: 32px; */
    border: none;
}
.modified{
    width: 270px;/*От балды размер*/
}
.signboard::after{
    content:url(./expand_more.png);
}
.calculation{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    font-weight: normal;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75); 
    margin-bottom: 30px;
}
.calculation li{
    padding: 0;
    line-height: 24px;
}
.calculation li{
    align-items: baseline; 
    display: flex; 
}
.calculation li::before{
    content: ''; 
    flex-grow: 1; 
    order: 2; 
    margin: 0 5px; 
}
.calculation .area{
    order: 3; 
} 
.total{
    height: 20px;
    font-family: Quicksand;
    font-size: 19px;
    color: #1F2041;
    display: flex;
    margin-bottom: 20px;
}
.total::before{
    content: ''; /* Выводим линию */
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);/* Параметры линии */
    flex-grow: 1; /* Линия занимает всё доступное пространство */
    order: 2; /* Выводим вторым */
    margin: 0 5px; /* Расстояние от текста */
}
.total .value{
    order: 3; /* Выводим третьим */
}
.button{
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.button:after {
    content:url(./arrow_forward.png);
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
}
.button:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
