@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wrapper{
    width: 380px;
    height: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.forheader{
    height: 90px;    
}
.forworkfield{
    height: 118px;
}
.forbutton{
    height: 74px;
}
.forfooter{
    height: 76px;
}
/*Второй уровень иерархии*/
.header{
    width: 320px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
}
.workfield{
    width: 320px;
    height: 98px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.person{
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
.input{
    width: 290px;
    height: 24px;
    border: none;
}
.button{
    width: 320px;
    height: 44px;
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
}
.button:after {
    content:url(./arrow_forward.png);
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.footer{
    width: 320px;
    height: 44px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
}
.noaccount{
    width: 164px;
    height: 18px;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
}
.createaccount{
    width: 99px;
    height: 44px;
    border-radius: 22px;
    background: #FFFFFF;
    border: 1px solid #BC9CFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #BC9CFF;
}
